div(ng-controller="StartupForm")
  div(class="form-group")
    label Name
    input(class="form-control", type="text", name="name", ng-model="toEdit.name", ng-disabled="disableForm")
  div(class="form-group")
    label Website
    input(class="form-control", type="text", name="website", ng-model="toEdit.website", ng-disabled="disableForm")
  div(class="form-group")
    label Banner Photo
    input(class="form-control", type="text", name="bannerPhoto", ng-model="toEdit.bannerPhoto", ng-disabled="disableForm")
  div
    label Founders
    table(class="form-group", ng-repeat="founder in toEdit.founders track by $index")
      tr
        td
          button(class="btn btn-danger", ng-click="deleteFounder($index)", ng-disabled="disableForm") Delete
        td(style="width: 50%")
          input(
            placeholder="Type name of founder",
            class="form-control",
            type="text",
            ng-model="founder.name",
            ng-disabled="disableForm",
            typeahead="result as result.name for result in searchPeople($viewValue)",
            typeahead-on-select="founderSelected($index, $model)"
            ng-change="founderNameChanged($index)"
            )
        td(style="width: 50%")
          input(
            placeholder="Type name of founder",
            class="form-control",
            type="text",
            ng-model="founder.email",
            ng-disabled="disableForm",
            typeahead="result as result.email for result in searchPeople($viewValue)",
            typeahead-on-select="founderSelected($index, $model)",
            ng-change="founderEmailChanged($index)"
            )
    div(class="form-group")
      button(class="btn btn-success", ng-click="addFounder()", ng-disabled="disableForm") Add Founder 
  div(class="form-group")
    label Industries
    table(class="form-group", ng-repeat="industry in toEdit.industries track by $index")
      tr
        td
          button(class="btn btn-danger", ng-click="deleteIndustry($index)", ng-disabled="disableForm") Delete
        td(style="width: 100%;")
          input(
            placeholder="Type name of industry",
            class="form-control",
            type="text",
            ng-model="industry.name",
            ng-disabled="disableForm",
            typeahead="industry as industry.name for industry in searchIndustries($viewValue)",
            typeahead-on-select="industrySelected($index, $model)",
            ng-change="industryChanged($index)"
            )
    div(class="form-group")
      button(class="btn btn-success", ng-click="addIndustry()", ng-disabled="disableForm") Add Industry
  div(class="form-group")
    label Email Address
    input(class="form-control", type="text", name="email", ng-model="toEdit.email", ng-disabled="disableForm")
  div(class="form-group")
    label Mission
    textarea(class="form-control", name="mission", ng-model="toEdit.mission", ng-disabled="disableForm")
  div(class="form-group")
    label Stage
    p
      select(class="form-control", ng-required="true", ng-model="toEdit.stage", ng-options="stage.name for stage in stages")
  div(class="form-group")
    label Location
    input(
      class="form-control",
      type="text",
      name="location",
      ng-model="toEdit.location.formatted_address",
      ng-disabled="disableForm",
      typeahead-editable="false",
      typeahead="geocodedLocation as geocodedLocation.formatted_address for geocodedLocation in codeAddress($viewValue)",
      typeahead-on-select="locationSelected($model)",
      ng-change="locationChanged()",
      typeahead-wait-ms="300"
      )
  div(class="form-group")
    label Phone Number
    input(class="form-control", type="text", name="phone", ng-model="toEdit.phone", ng-disabled="disableForm")
  div(class="form-group")
    label Media
    
    table(class="form-group", ng-repeat="medium in toEdit.media track by $index")
      tr
        td
          button(class="btn btn-danger", ng-click="deleteMedia($index)", ng-disabled="disableForm") Delete
        td(style="width: 100%;")
          input(placeholder="Type name of media", class="form-control", type="text", ng-model="toEdit.media[$index]", ng-disabled="disableForm")
    div(class="form-group")
      button(class="btn btn-success", ng-click="addMedia()", ng-disabled="disableForm") Add Media
  div(class="form-group")
    label Details
    textarea(class="form-control", name="details", ng-model="toEdit.details", ng-disabled="disableForm")
  div(class="form-group")
    label Related Startups
    table(class="form-group", ng-repeat="related in toEdit.relatedStartups track by $index")
      tr
        td
          button(class="btn btn-danger", ng-click="deleteRelatedStartup($index)", ng-disabled="disableForm") Delete
        td(style="width: 100%;")
          input(class="form-control",
            type="text",
            ng-model="toEdit.relatedStartups[$index]",
            ng-disabled="disableForm",
            typeahead="startup as startup.name for startup in startups | filter: $viewValue | filter: excludeSelectedStartups",
            typeahead-editable="false",
            placeholder="Type name of startup")
    div(class="form-group")
      button(class="btn btn-success", ng-click="addRelatedStartup()", ng-disabled="disableForm") Add Related Startup

